.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.title{
    text-align: left;
}

.custom-border {
    border: 3px solid var(--Red);
}

@media only screen and (max-width: 1000px){
    .main{
        flex-wrap: wrap;
    }
}