.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header sidebar"
    "content sidebar";
    justify-content: center;
    gap: 20px;
}

.title{
    grid-area: header;
    text-align: left;
}

.custom-border {
    border: 3px solid var(--Red);
}

@media only screen and (max-width: 1000px){
    .main{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "content"
        "sidebar";
    }
}